.container-hoodie {  display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "hoodie1 hoodie-2"
      "hoodie-3 hoodie-4";
  }
  
  .hoodie-1 {
        grid-area: hoodie1;
        border: 2px solid #ffabcd;
        border-radius: 5px;
    }
  
  .hoodie-2 {
      grid-area: hoodie-2; 
      border: 2px solid #ffabcd;
        border-radius: 5px;
    }
  
  .hoodie-4 { 
        grid-area: hoodie-4; 
        border: 2px solid #ffabcd;
        border-radius: 5px;
    }
  
  .hoodie-3 { 
        grid-area: hoodie-3; 
        border: 2px solid #ffabcd;
        border-radius: 5px;
    }
.container-back {  display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "hoodie1 hoodie-2"
          "hoodie-3 hoodie-4";
}
      
.back-1 {
            grid-area: hoodie1;
            border: 2px solid #ffabcd;
            border-radius: 5px;
}
      
.back-2 {
          grid-area: hoodie-2; 
          border: 2px solid #ffabcd;
            border-radius: 5px;
}
      
.back-4 { 
            grid-area: hoodie-4; 
            border: 2px solid #ffabcd;
            border-radius: 5px;
}
      
.back-3 { 
            grid-area: hoodie-3; 
            border: 2px solid #ffabcd;
            border-radius: 5px;
}

.container-note {  display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "hoodie1 hoodie-2"
      "hoodie-3 hoodie-4";
}
  
.notebook-1 {
        grid-area: hoodie1;
        border: 2px solid #ffff00;
        border-radius: 5px;
}
  
.notebook-2 {
      grid-area: hoodie-2; 
      border: 2px solid #ffff00;
        border-radius: 5px;
}
  
.notebook-4 { 
        grid-area: hoodie-4; 
        border: 2px solid #ffff00;
        border-radius: 5px;
}
  
.notebook-3 { 
        grid-area: hoodie-3; 
        border: 2px solid #ffff00;
        border-radius: 5px;
}
.container-mug {  display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "hoodie1 hoodie-2"
      "hoodie-3 hoodie-4";
}
  
.mugs-1 {
        grid-area: hoodie1;
        border: 2px solid #ffcb00;
        border-radius: 5px;
}
  
.mugs-2 {
      grid-area: hoodie-2; 
      border: 2px solid #ffcb00;
        border-radius: 5px;
}
  
.mugs-4 { 
        grid-area: hoodie-4; 
        border: 2px solid #ffcb00;
        border-radius: 5px;
}
  
.mugs-3 { 
        grid-area: hoodie-3; 
        border: 2px solid #ffcb00;
        border-radius: 5px;
}
.container-sticker {  display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "hoodie1 hoodie-2"
      "hoodie-3 hoodie-4";
}
  
.stickers-1 {
        grid-area: hoodie1;
        border: 2px solid #a51bcd;
        border-radius: 5px;
}
  
.stickers-2 {
      grid-area: hoodie-2; 
      border: 2px solid #a51bcd;
        border-radius: 5px;
}
  
.stickers-4 { 
        grid-area: hoodie-4; 
        border: 2px solid #a51bcd;
        border-radius: 5px;
}
  
.stickers-3 { 
        grid-area: hoodie-3; 
        border: 2px solid #a51bcd;
        border-radius: 5px;
}


