body{
    background-image:url('https://www.koshkafursuits.com/img/bg-header.gif');
}
.top-bar{ 
    background-color: #ffabcd;
    margin-bottom: 0%;
    height: auto;
}
.martop{
    margin-top: 0%;
}
div.logo{
   /* background-image:url('https://www.koshkafursuits.com/img/bg-header.gif');*/
    height: auto;
}
.logowo{
    height: 160px;
    width: 160px;
    margin-top: 5px;
    margin-left: 5px;
}
a.button{
    color:#ff6fa9;
}
a.button:hover{
    color:#f000f0;
}
a.button:visited{
    color: #ffd1f6;
}
a.activebtn{
    color: #ff83ee;
}
a.activebtn:hover{
    color: #ffabee;
}
a.disbtn{
    color: #8a0037;
}
.circulo {
    width: 170px;
    height: 170px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 43%;
    margin-right: 45%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ff8737;
 
}
.mainblock{
    background-color: rgb(255, 218, 170);
    margin: 4%;
    height: 1600px;
}
.title{
    
    font-family: 'Lobster', cursive;
    font-size: 70px;
}
p.void{
    opacity: 0%;
}
.subtitle1{
    font-family: 'Oxygen', sans-serif;
}
.text1{
    font-family: 'Oxygen', sans-serif;
}
.borderfucker{
    border: 4px solid rgb(209, 173, 125);
    border-radius: 6px;
}

.foot{
    background-color: #8a0037;
    height: 60px;
}
.copy{
    color:#ffffff86;
}